img {display: block;}
.ps4{background-color: blue;}
.nin{background-color: red;}
.pc{background-color: green;}
ul {list-style-type: none;
padding: 0; }
 h1 { text-align: center;}
 
 table {
    border-collapse: collapse;
}
th { 
    border: 1px solid blue;
}
td { 
    border: 1px solid blue;
}
 